body{
  margin: 1%;
  color: black;
  font-family: 'Arial', sans-serif;
}
.questionList{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#quiztitle{
  font-size: 45px;
  font-weight: bold;
}
#quizdescription{
  font-size: 30px;
}
.questionid{
  font-size: 30px;
  font-weight: bold;
}
.questiontext{
  padding-top: 2%;
}
.questionask{
  padding-top: 1%;
  font-size: 20px;
}
.questionimg{
  width: 200px;
  height: 200px;
  display:inline;
}
.check{
  text-align: center;
}
.questionbox{
  max-width: 30%;
  height: auto;
  display: inline-block;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}
.questionimg{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.imgsource{
  color: grey;
  font-size: 12px;
}
.caption{
  font-size: 24px;
  text-align: center;
}
.resultimg{
  max-height: 300px;
  max-width: 300px;
}
#results{
  text-align: center;
}
#resultbutton{
    text-align: center;
    cursor: default;
    color: black;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    border: none;
    font-size: 36px;
    margin-top: 5%;
}
h3{
  font-size: 28px;
}
#finalanswer{
  color: black;
}
